<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

<script>
  
var socket = io();

// Send client info to server
socket.on('connect', function () { 
    socket.emit('user-connect', client);
    client.socketID = socket.io.engine.id;
});

// Send message to server
$('#msg-form').submit(function(){
    client.msg = $('#message').val();
    socket.emit('msg-to-server', client);
    printMessage({socketID: client.socketID, msg: client.msg, nick: client.nick});
    $('#message').val('');
    return false;
});

// Edit name
$(".glyphicon-pencil").click(function() {
    $("#status-nick").hide();
    $(this).hide();
    $("#change-name-form").show();
    $("#change-name-input").focus();
});

// Send changed name to server
$('#change-name-form').submit(function(){
    var newname = $("#change-name-input").val().trim();
    if (newname !== '' && newname.length < 30) {
        $("#change-name-button").hide();
        $("#change-name-loader").show();
        client.newname = newname;
        changeName();
    }
    return false;
});

$('#change-name-input').blur(function(){
    $('#change-name-form').hide();
    $('#status-nick').show();
    $('.glyphicon-pencil').show();
});

// Receive change name response
socket.on('change-name-response', function(data){

});

// Receive message from server
socket.on('msg-to-room', function(data){
    if (data.socketID !== client.socketID) {
        printMessage(data);
        flashTitle(client.room);
    }
});

// Update room status info 
socket.on('room-status', function(data){
    console.log('Received room info.');
    $('#active-users').html('<span class="glyphicon glyphicon-user"></span> ' + data.msg.users);
});

// Print recent messages
socket.on('recent-msgs', function(msgArray){
    console.log('Received recent messages.');
    if (msgArray.msg !== undefined) {
        msgArray.msg.forEach(function (data){
            printMessage(data);
        });
    }
});

</script>
