html, body {
	height: 100%;
	background-color: #F0F8FF;
}

.container {
	min-height: 100%;
    height: 100%;
	width: 100%;
	background: url(/images/bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

#leave-blank-text {
	margin-left: -10px;
}

.modal-header {
	border-bottom: 4px solid #5CA9EC;
	background-color: #115090;
	color: white;
}

.modal-body, .modal-footer {
	background-color: #F0F8FF;
}

.modal-footer .btn-primary {
	background-color: #115090;
	border: 1px solid #5CA9EC;
}

.form-control, .btn, .modal-content {
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
}

#front-page-form {
	margin-top: 50px;
	padding: 20px;
	color: white;
	width: 300px;
	margin-left: -150px;
}

#front-page-form-div {
	margin-left: 50%;
}

.small-text {
	font-size: 12px;
}

#create-room-button {
	background-color: rgba(255, 255, 255, 0.29);
	width: 100%;
	color: white;
}

.form-inline {
	display: inline-block;
}

#chatbox {
	margin-top: 24px;
	padding: 0 30px;
	padding-top: 25px;
	overflow: auto;
	height: 200px;
	background-color: #F0F8FF;
}

#status-bar {
	position: absolute;
	width: 100%;
	top: 0;
	padding: 10px;
	background-color: #115090;
	border-bottom: 4px solid #5CA9EC;
	z-index: 1;
	color: white;
}

#footer {
	position: absolute;
	bottom: 20px;
	width: 100%;
}

.spacer {
	height:20px;
}

.own {
	color: #2e6da4;
}

.author {
	font-weight: bold;
}

.admin {
	color: #C10000;
}

.admin-name {
	font-weight: bold;
	color: #C10000;
}

#send-button {
	width: 100%;
	background-color: #115090;
	border: 1px solid #5CA9EC;
}

.status-div {
	display: inline-block;
	margin: 0 20px;
}

#status-nick {
	font-weight: bold;
	margin-right: 3px;
}

.glyphicon {
	font-size: 12px;
}

.glyphicon-pencil {
	cursor: pointer;
}

#change-name-error,
#change-name-loader,
#name-error {
	display: none;
}

#change-name-loader {
	margin-left: 10px;
}


#typing-users {
	font-size: 12px;
}

#change-name-form {
	margin-top: 20px;
}