<!doctype html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="spacer"></div>
      <div class="row" id="status-bar">
        <div class="status-div">
          
          <span id="status-nick"></span>

          <form id="change-name-form" class="form-inline">
            <div class="form-group has-feedback">
              <input type="text" class="form-control" id="change-name-input" placeholder="Enter a new name">
              <span id="change-name-error" class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
            <img id="change-name-loader" src="/images/ajax-loader.gif" />
            <button id="change-name-button" type="submit" class="btn btn-default">Submit</button>
          </form>

          <icon class="glyphicon glyphicon-pencil" title="Change Name"></icon>
        </div>

        <div class="status-div" id="active-users">
        </div>
      </div>

      <div class="row">
        <div class='col-xs-12' id="chatbox"></div>
      </div>
      
      <div class="row" id="footer">
        <form id='msg-form'>
          <div class='text-center col-xs-9 col-sm-10 col-md-11'>
            <input class="form-control" id="message" autocomplete="off" placeholder="Type a message and press enter to send" />
          </div>
          <div class="text-center col-xs-3 col-sm-2 col-md-1">
            <button class='btn btn-primary'>Send</button>
          </div>
        </form>
      </div>    
    </div>   
    
    <script>
      var client = {};
      var nick = '<%= locals.nick %>';
      client.room = '<%= locals.room %>';
      client.nick = nick === "" ? "Anonymous" : nick;
      client.refresh = 0;
      client.sessionID = '<%= locals.sessionID %>'
      var timerOn = false;
      var timer;
      var recentMessages = [];

      $(document).ready(function() {
          resize();
          $("#status-nick").html(client.nick);
      });

      window.setInterval( function () {
          // Update room info every 10 seconds
          if (client) {
              socket.emit('update-request', client);
              console.log('Sent update request.');
          }
      }, 10000);

      $(window).focus(function () {
          flashTitle(client.room);
          clearInterval(timer);
          timerOn = false;
      });

      $(document).on('focus', function () {
          flashTitle(client.room);
          clearInterval(timer);
          timerOn = false;
      });

      $(window).resize(function() {
          resize();
      });

    </script>
    <% include ../partials/socketio.ejs %>
  </body>
</html>