<!doctype html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
  
    <div id="chatbox"></div>
    <form>
      <input id="message" autocomplete="off" /><button>Send</button>
    </form>

    <% include ../partials/socketio.ejs %>

  </body>
</html>