<!doctype html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
  <div class="container">
      <div class="row">
          <div class="col-xs-1 col-sm-3 col-md-4"></div>
          <div class="col-xs-10 col-sm-6 col-md-4">
            <form method="post" id="front-page-form">

              <div class="form-group">
                <input type="text" class="form-control" id="room" name="room" placeholder="Room name">
                <span id="leave-blank-text" class="small-text">Leave blank to create a private room</span>
              </div>

              <div id="name-group" class="form-group has-feedback">
                <input type="text" class="form-control" id="nick" name="nick" placeholder="Your name">
                <span id="name-error" class="glyphicon glyphicon-remove form-control-feedback"></span>
              </div>

              <div class="row">
                <div class="col-xs-12 text-right">
                  <button type="button" onclick="submitForm();" id="create-room-button" class="btn btn-default">Create Room</button>
                </div>
              </div>
              <img id="change-name-loader" src="/images/ajax-loader.gif" />
            </form>
          </div>
          <div class="col-xs-4"></div>
      </div>
  </div>
  </body>
</html>